<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.test.dao.StoreMapper">

    <sql id="stores">
        SELECT ID,GU,REG_DATE,GOOD,HOLIDAY,LAT,LON,ADDRESS,POST_NUM,STORENAME,FRANCHISE,MASTER,EAT,CORPS,MAINIMG,MAINMENU
        FROM STORE
    </sql>

    <!--가게등록-->
    <insert id="insert" parameterType="StoreDto">
        INSERT INTO STORE
        (GU,REG_DATE,HOLIDAY,LAT,LON,ADDRESS,POST_NUM,STORENAME,FRANCHISE,MASTER,EAT,CORPS,MAINMENU)
        VALUES
        (#{gu},#{reg_date},#{holiday},#{lat},#{lon},#{address},#{post_num},#{storeName},#{franchise},#{master},#{eat},#{corps},#{mainimg},#{mainMenu})
    </insert>

    <!--전체가게 목록 정렬 id 순-->
    <select id="selectAll" resultType="StoreDto">
        SELECT GU,REG_DATE,GOOD,HOLIDAY,LAT,LON,ADDRESS,POST_NUM,STORENAME,FRANCHISE,MASTER,EAT,CORPS,MAINMENU,ID,MAINIMG
        FROM STORE
        ORDER BY ID ASC
    </select>

    <!--가게 수정-->
    <update id="update" parameterType="int">
        UPDATE STORE
        SET GU = #{gu},
            REG_DATE= #{reg_date},
            HOLIDAY = #{holiday},
            LAT = #{lat},
            LON = #{lon},
            ADDRESS = #{address},
            POST_NUM = #{post_num},
            STORENAME = #{storeName},
            FRANCHISE = #{franchise},
            MASTER = #{master},
            EAT = #{eat},
            CORPS = #{corps},
            MAINIMG = #{mainimg},
            MAINMENU = #{mainMenu}
            WHERE ID = #{id}
    </update>

    <!--가게 삭제-->
    <delete id="delete" parameterType="int">
        DELETE FROM STORE
        WHERE ID = #{id}
    </delete>

    <!--좋아요 1증가 (유저랑 상의 필요)-->
    <update id="goodCnt" parameterType="int">
        UPDATE STORE
        SET   good = good + 1
        WHERE id = #{id}
    </update>

    





</mapper>